<div class="user-grid">
  <div class="head_name"></div>
  <h1 class="heading">Users</h1>

  <div class="search-options">
    <div class="search-wrapper">
      <img src="../asset/search.png" alt="user" class="search_icon" />
      <input type="text" id="search" name="search" placeholder="Search by user..." value={{this.searchQuery}} {{on "input" this.updateSearchQuery}} />
    </div>
  </div>

  <div class="sort-options">
    <label for="sort">Sort by:</label>
    <select id="sort" name="sort" {{on "change" this.updateSortBy}}>
      <option value="asc-desc">Ascending - Descending</option>
      <option value="desc-asc">Descending - Ascending</option>
      <option value="new-old">New - Old</option>
      <option value="old-new">Old - New</option>
    </select>
  </div>
  <p class="total-count">Total : <b>{{this.totalCount}}</b></p>

  <button class="new-button" type="button" {{on "click" this.openNewUserPopup}}>New User</button>
  <button class="report-button" type="button" {{on "click" this.openReportPopup}}>Report</button>
  <button class="report-button" type="button" {{on "click" this.openRecoverPopup}}>Recover</button>


  <div class="tiles">
    {{#each this.users as |user|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showUserDetails user.name)}}>
          <img src="../asset/user.png" alt="user" class="u_icon" /><br>{{user.name}}
        </a>
        <p class="delete-button" {{on "click" (fn this.confirmDelete user.name)}}>
          <img src="../asset/dlt.png" alt="Delete" class="dlt" />
        </p>
      </div>
    {{else}}
      <h3 class="not_found">No users found</h3>
      <img src="../asset/empty.png" alt="No users" class="empty" />
    {{/each}}
  </div>

  {{#if this.selectedUser}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
        <p>
          <strong>User Name:</strong>
          <i>{{this.selectedUser.name}}</i>
        </p>
        <p>
          <strong>Description:</strong>
          <i>{{this.selectedUser.description}}</i>
        </p>
        <p>
          <strong>Mail:</strong>
          <i>{{this.selectedUser.mail}}</i>
        </p>
        <p>
          <strong>Telephone Number:</strong>
          <i>{{this.selectedUser.telephoneNumber}}</i>
        </p>
        <p>
          <strong>Address:</strong>
          <i>{{this.selectedUser.address}}</i>
        </p>

        <p class="report-button" {{on "click" (fn this.showLogDetails this.selectedUser.name)}}>Report</p>

      </div>
    </div>
  {{/if}}

  {{#if this.isRecoverPopupVisible}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closeRecoverPopup}}>X</button>
        <h2>Recover User</h2>
        <form {{on "submit" this.recoverUser}}>
          <label for="recoverAccountName">Account Name:</label>
          <input type="text" id="recoverAccountName" name="recoverAccountName" placeholder="eg : ram" value={{this.recoverAccountName}} {{on "input" this.updateRecoverAccountName}} required />

          <label for="recoverTimeCreated">Time Created:</label>
          <input type="text" id="recoverTimeCreated" name="recoverTimeCreated" placeholder="YYYY-MM-DD HH:MM:SS" value={{this.recoverTimeCreated}} {{on "input" this.updateRecoverTimeCreated}} required />

          <button type="submit">Recover User</button>
        </form>
        <div class="msg"> 
          {{#if this.recoverUserError}}
            <div class="error-message">{{this.recoverUserError}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.isNewUserPopupVisible}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closeNewUserPopup}}>X</button>
        <h2>Create New User</h2>
        <form {{on "submit" this.createUser}}>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" placeholder="eg : john" value={{this.firstName}} {{on "input" this.updateFirstName}} required />

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" placeholder="eg : doe" value={{this.lastName}} {{on "input" this.updateLastName}} required />

          <label for="displayName">Display Name:</label>
          <input type="text" id="displayName" name="displayName" placeholder="eg : johndoe" value={{this.displayName}} {{on "input" this.updateDisplayName}} required />

          <label for="logOnName">Log On Name:</label>
          <input type="text" id="logOnName" name="logOnName" placeholder="eg : johndoe" value={{this.logOnName}} {{on "input" this.updateLogOnName}} required />

          <label for="mail">Mail:</label>
          <input type="email" id="mail" name="mail" placeholder="eg : johndoe@gmail.com" value={{this.mail}} {{on "input" this.updateMail}} required />

          <label for="description">Description:</label>
          <input type="text" id="description" name="description" placeholder="Enter new description" value={{this.description}} {{on "input" this.updateDescription}} required />

          <label for="telephoneNumber">Telephone Number:</label>
          <input type="text" id="telephoneNumber" name="telephoneNumber" placeholder="Enter mobile number" value={{this.telephoneNumber}} {{on "input" this.updateTelephoneNumber}} required />

          <button type="submit">Create User</button>
        </form>
        <div class="msg">
          {{#if this.createUserError}}
            <div class="error-message">{{this.createUserError}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.isReportPopupVisible}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closeReportPopup}}>X</button>
        <h2>User Creation Report</h2>
        <canvas id="userReportChart"></canvas>
      </div>
    </div>
  {{/if}}

  {{#if this.isUserDetailsPopupVisible}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
        <h2>Users</h2>
        <ul>
          {{#each this.userDetails as |user|}}
            <li>
              <p class="user-name" {{on "click" (fn this.showLogDetails user.name)}}>{{user.name}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}

{{#if this.isLogDetailsPopupVisible}}
  <div class="popup">
    <div class="popup-content">
      <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
      <h2>Log Details: {{this.userName}}</h2>
      <div class="log-container">
        <table class="log-table">
          <thead>
            <tr>
              {{!-- <th>Account Name</th> --}}
              <th>Old Value</th>
              <th>New Value</th>
              <th>Message</th>
              <th>Modified Created</th>
              <th>ChangedOn</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.selectedLogGroup as |log|}}
              <tr>
                {{!-- <td>{{log.AccountName}}</td> --}}
                <td>{{log.OldValue}}</td>
                <td>{{log.NewValue}}</td>
                <td>{{log.Message}}</td>
                <td>{{log.TimeCreated}}</td>
                <td>{{log.ChangedOn}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{/if}}
</div>